
html, body {
    font-family: Helvetica, sans-serif;
}

.list {
    font-family: Helvetica, sans-serif;
}

.li {
    font-size: 18px;
}

.li > .li {
    margin-left: 3em;
    font-size: 14px;
}

.li > p {
    margin: 0 0 .5em 1em;
    font-size: 12px;
}

h4 {
    margin-bottom: .2em;
}

h4 + p {
    margin: 0;
    font-size: 14px;
}