html
    head
        link(rel="stylesheet", href="./main.css")
    body
        h1 Docs
        .li
            .li What is the reward for playing matches?
                .li When you win?
                    p You get #[a(href="#money") money] and earn #[a(href="#status") status].
                .li When you lose?
                    p You get some #[a(href="#money") money] anyway.
            .li What is the risk of playing matches?
                .li When you win?
                    p You will gain #[a(href="#status") status] and will lose access to certain low-status places.
                .li When you lose?
                    p You will lose #[a(href="#status") status] and will perhaps lose access to certain high-status places.
                    | Although you can #[a(href="#disguise") disguise] yourself and visit low-status places anyways.
            .li Why do you compete in tournaments?
                .li Why do you want to win tournaments?
                    p To gain #[a(href="#status") status] and compete in higher status tournaments.
                .li When it is hard and requires a lot of retries?
                    p Encouraging you to train your response of matching moves and invent own playstyles and strategies to win.
                .li When it is very easy?
                    p To recognize the players superior ability. The player will also still be rewarded with in-game currency
                    | that they can spend to pimp up their gear or improve status.
            .li What is the end goal?
                    p To become the president of America.
            .li What is the short term goal?
                    p To win the local tournament and win lots of money to spend on luxury items.

        section
            h1 Topics
            section
                a(name="money")
                h4 Money
                p Can be used to buy equipment. Can also be used to buy luxury items to increase status.

        section
            h1 Random notes
            p Every time the opponent matches a move, the player has to pick the next move quicker

            p Later in the game the player may gain upgrades which allows for certain moves to be typed with keyboard shortcuts.
            | Such as "p" for backspin, "n" for topspin or "m" for smash. All very random as to not go too easy on the player.

        footer
            p Common .links
            p #[a(href="#status") status]
            | #[a(href="#disguise") disguise]
            | #[a(href="#money") money]
</ul>
</body>
</html>